<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Traya Assignment</title>
  </head>
  <body>
    <div style="display: flex; justify-content: center;">
        <h1 style="font-size: 80px;">Hello, World!</h1>
    </div>
  </body>
</html>
